<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Flask Example</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <h2>This is the About Page</h2>
        <p>Enim nunc faucibus a pellentesque. Vivamus at augue eget arcu dictum. Tincidunt tortor aliquam nulla facilisi cras. Faucibus purus in massa tempor nec. Proin nibh nisl condimentum id venenatis a. Cursus eget nunc scelerisque viverra mauris in. Mi tempus imperdiet nulla malesuada pellentesque elit. Commodo viverra maecenas accumsan lacus. Libero id faucibus nisl tincidunt. Cursus sit amet dictum sit amet justo donec enim. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum.</p>
        <p>Turpis egestas sed tempus urna. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Malesuada nunc vel risus commodo viverra maecenas accumsan. Et ligula ullamcorper malesuada proin libero nunc consequat. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Massa id neque aliquam vestibulum morbi blandit cursus. Sit amet consectetur adipiscing elit ut aliquam. Eget egestas purus viverra accumsan. Nisl vel pretium lectus quam id leo. Ultricies leo integer malesuada nunc. Quisque non tellus orci ac. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Sem viverra aliquet eget sit. Duis at consectetur lorem donec massa. Et netus et malesuada fames ac. Faucibus interdum posuere lorem ipsum. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Odio euismod lacinia at quis risus sed. Sagittis eu volutpat odio facilisis mauris sit amet.</p>
    </main>
    <footer>
        <p>&copy;2021</p>
    </footer>
</body>
</html>