<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Flask Example</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <h2>This is the Contact Page</h2>
        <p>Turpis tincidunt id aliquet risus feugiat. Et ultrices neque ornare aenean euismod elementum nisi quis. Consequat semper viverra nam libero justo laoreet sit amet cursus. Ac odio tempor orci dapibus ultrices in iaculis. Donec adipiscing tristique risus nec feugiat. Massa tempor nec feugiat nisl pretium fusce id velit ut. Vitae auctor eu augue ut lectus arcu bibendum at. Est pellentesque elit ullamcorper dignissim cras. Dictumst quisque sagittis purus sit amet. At elementum eu facilisis sed odio morbi quis commodo. Nunc congue nisi vitae suscipit tellus.</p>
        <p>Donec et odio pellentesque diam volutpat commodo. Ac turpis egestas sed tempus urna et pharetra. Ut porttitor leo a diam sollicitudin tempor id eu. In est ante in nibh mauris. Diam maecenas ultricies mi eget mauris. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Donec ultrices tincidunt arcu non sodales. Dolor sed viverra ipsum nunc. Lacinia quis vel eros donec ac. Semper viverra nam libero justo laoreet sit amet cursus.</p>
    </main>
    <footer>
        <p>&copy;2021</p>
    </footer>
</body>
</html>