<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Flask Example</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <h2>This is the Home Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar neque laoreet suspendisse interdum consectetur. Lectus proin nibh nisl condimentum id venenatis. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Massa id neque aliquam vestibulum morbi blandit. Egestas quis ipsum suspendisse ultrices. Nunc congue nisi vitae suscipit tellus. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Lacus laoreet non curabitur gravida.</p>
        <p>Turpis <a href="/green">tincidunt</a> id aliquet risus feugiat. Et ultrices neque ornare aenean euismod elementum nisi quis. Consequat semper viverra nam libero justo laoreet sit amet cursus. Ac odio tempor orci dapibus ultrices in iaculis. Donec adipiscing tristique risus nec feugiat. Massa tempor nec feugiat nisl pretium fusce id velit ut. Vitae auctor eu augue ut lectus arcu bibendum at. Est pellentesque elit ullamcorper dignissim cras. Dictumst quisque sagittis purus sit amet. At elementum eu facilisis sed odio morbi quis commodo. Nunc congue nisi vitae suscipit tellus.</p>
    </main>
    <footer>
        <p>&copy;2021</p>
    </footer>
</body>
</html>